{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .blog-post-container{
        position: relative;
        margin-left: 130px;
        margin-right: 100px;
        
        margin-top: 10px;
        margin-bottom: 5px;
	}
</style>
<div class="blog-post-container">
    <div class="row" >
        {% if images %}
            {% for post in images %}
                
                    {% include 'snippets/image_card.html' with images=post %}
                
            {% endfor %}
        {% endif %}
    </div>
    <div style="margin-top: 2px;">
        {% include 'snippets/image_card_pagination.html' %}
    </div>
</div>



{% endblock content %}